body{
    background: lightblue;
    text-align: center;
}

.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.circle{
    width: 300px;
    padding: 150px 0;
    line-height: 0;
    margin: 100px auto;
    background: pink;
    color: white;
    border-radius: 200px;
    cursor: pointer;
    transition: background 1s, transform 0.7s 0.7s ease;
    
}

.circle:hover{
    background: salmon;
    transform: rotate(360deg);
    
}
.circle:active {
    background: #c283c6;
}

.circle2{
    width: 300px;
    padding: 150px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 200px;
    cursor: pointer;
    transition: background 1s, transform 0.7s 0.7s ease;
}

.circle2:hover{
    background: salmon;
    transform: rotate(360deg);
    
}
.circle2:active {
    background: #299;
}

.circle3{
    width: 300px;
    padding: 150px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 200px;
    cursor: pointer;
    transition: background 1s, transform 0.7s 0.7s ease;
}

.circle3:hover{
    background: salmon;
    transform: rotate(360deg);
    
}
.circle3:active {
    background: #ffe896;
}
