body{
    background: black;
}

.wrapper{
    width: 100%;
    padding: 30px;
    opacity: 30%;
}
.circle{
    width: 300px;
    padding: 150px 0;
    line-height: 0;
    margin: 100px auto;
    background: yellow;
    color: white;
    cursor: pointer;
    transition: background 1s, transform 2.7s 0.7s ease;
    opacity: 30%;
    
}

.circle:hover{
    background: blue;
    transform: rotate(260deg);
    opacity: 30%;
    
}
.circle:active {
    background: #fff;
}

