body{
    background:#FAEFFA;
}
.trans{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: #B2FCFF;
    transition:all 3s ease-in-out;
}
.trans:hover{
    transform: translate(450px, 300px);
    background: #99B2FC;
    transition:all 3s ease-in-out;
}
.trans:active{
    background: #99FCCA;

}