body{
    background: #B4FFCA;
}
.trans{
    border-radius: 50%;
    height:400px;
    width: 400px;
    background: #B4BBFF;
    position: absolute;
    transition:all 3s ease-in-out;
}

.trans:hover{
    transform: scale(1.3);
}