.bubbles {
    position: center;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    transform: translateZ(0);
}
.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(0, 237, 355, 0.3);
    bottom: -100px;
    animation: square 10s infinite;
    transition-timing-function: linear;
}
.bubbles li:nth-child(1) {
    width: 200px;
    height:200px;
    left: 20%;
}
.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 4s;
}
.bubbles li:nth-child(3) {
    width: 100px;
    height: 100px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 3s;
}
.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 4s;
}
.bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 2s;
    animation-duration: 6s;
}
.bubbles li:nth-child(6) {
    width: 30px;
    height: 50px;
    left: 20%;
    animation-delay: 2s;
    animation-duration: 10s;
}
.bubbles li:nth-child(7) {
    width: 90px;
    height: 50px;
    left: 90%;
    animation-delay: 2s;
    animation-duration: 10s;
}
.bubbles li:nth-child(8) {
    width: 20px;
    height: 90px;
    left: 100%;
    animation-delay: 2s;
    animation-duration: 10s;
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform:translateY(0);
    }
    100% {
        -webkit-transform:translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

body {background-color: navy ;z-index:1; overflow-y:hidden;overflow-x:hidden;}